@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
// font family
// font-family: "Yeseva One", serif;
// font-family: "Raleway", sans-serif;
// font-family: "Old Standard TT", serif;
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
  }
  html,body{
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 400;
    color: #000;
    padding-top: 110px;

    @media (max-width: 899px) {
      padding-top: 79px;
    }
    @media (max-width: 599px) {
      padding-top: 71px;
    }

  }

  strong,
b {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #00a5d0;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #00a5d0;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.MuiTypography-root{
    padding: 0;
    margin: 0 0 10px;
    color: #000;
    font-family: "Yeseva One", serif;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

h1 {
  text-transform: capitalize;
  &.MuiTypography-root{
    font-size: 48px;
    line-height: 1.1;
    font-weight: 400;
    @media (max-width: 1199px) {
      font-size: 45px;
    }
    @media (max-width: 899px) {
      font-size: 36px;
    }

  }
}
h2 {
  
  &.MuiTypography-root{
    line-height: 1;
    font-weight: 400;
  }
}
p{
  &.MuiTypography-root{
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
    &:last-child{
      margin-bottom: 0;
    }
  }

}
p:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  position: relative;
  list-style: none;
}

button {
  .MuiTouchRipple-root {
    display: none;
  }
}

a,
button {
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  padding: 5px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #656664;
  border-radius: 0;
}

select {
//   background: url(/assets/images/down-arrow.svg) right 10px center no-repeat;
  background-size: 20px;
}

select[multiple] {
  background: transparent;
}

::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

::-moz-placeholder {
  color: #000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

:-moz-placeholder {
  color: #000;
  opacity: 1;
}

input[type="button"],
input[type="submit"] {
  text-align: center;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  background: #51bff0;
  border: 1px solid #51bff0;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #51bff0;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

.MuiButtonBase-root {
  text-transform: none !important;
  cursor: pointer;
  font-weight: 400;
}

.cmn_gap {
  padding: 60px 0;

  @media (max-width: 1199px) {
    padding: 40px 0;
  }
}

.cmn_gap_top {
  padding-top: 0 !important;
}

.cmn_gap_btm {
  padding-bottom: 0 !important;
}

// common heading
.cmn_head {
  margin-bottom: 15px;
  text-align: center;

  h2 {
    font-size: 40px;
    text-transform: none;
    color: #202020;
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }

    @media (max-width: 1199px) {
      font-size: 35px;
    }
    @media (max-width: 899px) {
      font-size: 30px;
    }
  }

  h3{
    font-size: 24px;
  }
}

.newsLetterModal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  background-color: #ffffff;
  box-shadow: 24px;
  padding: 50px 50px 50px;
  text-align: center;
  border-radius: 15px;

  h4{
    margin-bottom: 10px;
  }
  h6{
    max-width: 350px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .newsLetterModalInput {
    width: 100%;
    margin-bottom: 20px;
    input{
      height: 35px;
      padding: 5px 20px;
      border-color: #000;
      &::-webkit-input-placeholder {
        color: #000;
        opacity: 1;
      }
      
      &::-moz-placeholder {
        color: #000;
        opacity: 1;
      }
      
      &:-ms-input-placeholder {
        color: #000;
        opacity: 1;
      }
      
      &:-moz-placeholder {
        color: #000;
        opacity: 1;
      }
    }
    fieldset{
      display: none;
    }
    
  }
  .newsLetterModalCloseBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #000;
    z-index: 1;
    padding: 0;
    min-width: initial;
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
    &:hover{
      opacity: 0.6;
    }
  }
}

// fluid container
.MuiContainer-maxWidthXl{
  &.MuiContainer-root{
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 599px) {
      padding-left: 16px;
      padding-right: 16px;
    }

  }
}

.mobileMenuDrawer{
  padding: 40px 20px;

  ul{
    padding: 0;
    margin: 0;
    li{
      padding: 0;
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        line-height: 1;
        color: #000;
        padding-bottom: 2px;
        font-weight: 500;

        &:hover, &.active{
          color: #613F35;
          border-bottom: 1px solid #613F35;
        }
      }
    }
  }
  .mobileMenuDrawerCloseBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #613F35;
    padding: 0;
    min-width: initial;
    z-index: 9;
    line-height: 1;
    font-weight: 600;
    &:hover{
      opacity: 0.5;
    }
  }
}

.hamburgerContactList_wrap{
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #000;

  .hamburgerContactList{
    li{
        padding: 0;
        margin-bottom: 7px;
       
        &:last-child{
            margin-bottom: 0;
        }
  
        a{
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #000;
            i{
                display: flex;
                align-items: center;
                margin-right: 10px;
                font-size: 16px;
                svg{
                  width: 20px;
                  height: 20px;
                }
            }
        }
    }
  }

}

.hamburgerBookBtn{
  padding-top: 15px;
}